# Path to the compiled MAGICC executable.
#   The assumption is made that your MAGICC directory structure looks like
#   this:
#   . top-level-dir
#   ├── bin
#   │   └── magicc
#   ├── out  # empty folder where output can be written
#   └── run
#       ├── run files are here
#       └── they shouldn't need to be touched directly
MAGICC_EXECUTABLE_7=/path/to/here/bin/magicc/magicc-v7.5.3/bin/magicc

# How many MAGICC workers can run in parallel?
MAGICC_WORKER_NUMBER=4

# Where should the MAGICC workers be located on the filesystem (you need about
# 500Mb space per worker at the moment)
MAGICC_WORKER_ROOT_DIR=/path/to/somewhere

# How many cores should be used when running FaIR in parallel?
FAIR_WORKER_NUMBER=4

# How many cores should be used when running CICERO-SCM in parallel?
CICEROSCM_WORKER_NUMBER=4

# Where should Cicero-SCM workers be located on the filesystem
CICEROSCM_WORKER_ROOT_DIR=/path/to/somewhere
